akonadi
akonadi_akonotes_resource_0rc
akonadi_contacts_resource_0rc
akonadi-firstrunrc
akonadi_ical_resource_0rc
akonadi_indexing_agentrc
akonadi_maildir_resource_0rc
akonadi-migrationrc
akregatorrc
alacritty
arkrc
autostart
baloofileinformationrc
baloofilerc
blender
bluedevilglobalrc
bluedevilreceiverrc
cef_user_data
clangd
coc
Code - Insiders
comtool
dconf
Designerrc
device_automounter_kcmrc
DingTalk
discoverrc
dolphinrc
draw.io
drkonqirc
emaildefaults
emailidentities
falkon
fcitx
fcitx5
filelightrc
ghostwriterrc
github-copilot
GitKraken
google-chrome-unstable
gtk-2.0
gtk-3.0
gtk-4.0
gtkrc
gtkrc-2.0
gwenviewrc
htop
# i3
ibus
kactivitymanagerd-pluginsrc
kactivitymanagerdrc
kactivitymanagerd-statsrc
kalendaracrc
kamosorc
kate
katemetainfos
katerc
kateschemarc
katevirc
kcalcrc
kcmfonts
kcminputrc
kconf_updaterc
KDE
kdeconnect
kded5rc
kdedefaults
kdeglobals
kde.org
keditfiletyperc
kfontinstuirc
kfontviewrc
kgammarc
kglobalshortcutsrc
khelpcenterrc
khotkeysrc
kinfocenterrc
kiorc
klaunchrc
kmail2rc
kmetainformationrc
kmixctrlrc
kmixrc
kokorc
kolourpaintrc
komparerc
konsolerc
konsolesshconfig
kplymouththemeinstallerrc
krunnerrc
kscreenlockerrc
kservicemenurc
ksmserverrc
ksplashrc
ktimezonedrc
kwalletrc
kwinrc
kwinrulesrc
kxkbrc
libaccounts-glib
libreoffice
lx-music-desktop
menus
mimeapps.list
mozc
# mpd
# ncmpcpp
# neofetch
# nvim
okularpartrc
okularrc
OpenMV
partitionmanagerrc
plasma_calendar_alternatecalendar
plasma_calendar_holiday_regions
PlasmaDiscoverUpdates
plasma.emojierrc
plasma-localerc
plasma-nm
plasmanotifyrc
plasma-org.kde.plasma.desktop-appletsrc
plasmaparc
plasmarc
plasmashellrc
plasma-welcomerc
plasma-workspace
powerdevilrc
powermanagementprofilesrc
procps
pulse
qBittorrent
QQ
QtProject
QtProject.conf
ranger
scripts
sddmthemeinstallerrc
session
SingTownSerialport
spark-wine
specialmailcollectionsrc
spectaclerc
systemd
systemmonitorrc
systemsettingsrc
thefuck
touchpadxlibinputrc
trashrc
Trolltech.conf
unity3d
Unknown Organization
user-dirs.dirs
user-dirs.locale
vofa+
webengineurlinterceptoradblockrc
xdg-desktop-portal-kderc
xsettingsd
yakuake.notifyrc
yakuakerc
